/* App.css */

/* Base styles */
#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Align content to the start */
  min-height: 100vh;
  width: 100%; /* Ensure the root takes full width */
  margin: 0 auto;
  padding: 0; /* Remove padding to prevent horizontal scrolling */
  overflow-x: hidden; /* Hide horizontal overflow */
}

.title, .search-bar {
  text-align: center;
  width: 100%;
}

/* Centering content specifically for mobile screens */
@media (max-width: 650px) {
  #root {
    padding: 0 1rem; /* Adjust horizontal padding if necessary */
  }

  .playlist-container,
  .search-results-container {
    width: 100%; /* Full width on mobile */
    margin: 0 auto; /* Center the container */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
  }
}

/* Ensure body takes full width */
body {
  margin: 0;
  width: 100%;
}


