/* App.css */

/* Base styles */
#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  justify-content: center;
  min-height: 100vh;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0.5rem 1rem;
}

.title, .search-bar {
  text-align: center;
  width: 100%;
}

/* Centering content specifically for mobile screens */
@media (max-width: 650px) {
  #root {
    padding: 0rem 60rem 0rem 1rem; 
    
  }

  .playlist-container,
  .search-results-container {
    width: 100%; /* Full width on mobile */
    margin: 0 auto; /* Center the container */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
  }
}


