
/* playlist.tsx */
.playlist-box {
    border: 1px solid #c6f6d5; /* equivalent to green.100 */
    border-radius: 8px; /* md */
    padding: 16px;
    margin: 16px;
  }
  /* SearchBar.tsx */
  .search-input {
    border-color: #63b3ed; /* blue.400 */
    border-width: 1.5px;
    color: #718096; /* grey.500 */
  }
  
  .search-input:hover {
    border-color: #9f7aea; /* purple.500 */
  }
  /* Track.tsx */
  .track-box {
    background-color: #2d3748; /* gray.800 */
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* md shadow */
  }
  
  .track-button-add {
    background-color: #48bb78; /* green */
    color: white;
  }
  
  .track-button-added {
    background-color: #9f7aea; /* purple */
    color: white;
  }
  
  /*searchResults.tsx*/
  .search-results-grid {
    min-width: 250px;
    gap: 20px;
  }

  /*JamMming.tsx*/
  .jammming-title {
    font-size: 2.5rem; /* 2xl */
    color: #9f7aea; /* purple.500 */
    font-family: 'Roboto Flex', sans-serif;
    font-weight: bold;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.6);
  }
  